apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: dopdocai-protected
  namespace: dopdocai
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`api.dopdocai.lab`) && (PathPrefix(`/repos`) || PathPrefix(`/repo-index-states`))
      kind: Rule
      kind: Rule
      priority: 1
      middlewares:
        - name: dopdocai-auth-forward
      services:
        - name: dopdoc-repos-service
          port: 9000
    - match: Host(`api.dopdocai.lab`) && (PathPrefix(`/ingest`) || PathPrefix(`/rag`))
      kind: Rule
      priority: 1
      middlewares:
        - name: dopdocai-auth-forward
      services:
        - name: dopdoc-ingestion-service
          port: 8000
    - match: Host(`api.dopdocai.lab`) && PathPrefix(`/chats`)
      kind: Rule
      priority: 1
      middlewares:
        - name: dopdocai-auth-forward
      services:
        - name: dopdoc-chats-service
          port: 9100   